#coach-account-form, #player-account-form {
    margin: 0 auto;
}

#profile-information, #player-information, #parent-information {
    border: 1px solid black;
}

#login-information {
    border: 1px solid black;
}

.hidden {
    display: none;
}

.blur {
    opacity: .5;
    filter: blur(20px);
}

#delete-account-popup{
    border: 1px solid black;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 1;
}