.event-details {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Cursive', cursive; /* Use a custom or Google Font here */
    max-width: 75%;
    height: fit-content;
}
  
.event-title {
    font-size: 36px;
    color: #845BB3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
  
.label {
    font-weight: 600;
    color: #555;
}
  
.value{
    font-size: 20px;
    color: #D0BDF4;
    font-family: 'Pacifico', cursive; /* Another custom or Google Font for exciting text */
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

strong {
    font-weight: 600;
    color: #555;
    text-transform: uppercase;
}  
  
strong {
    font-weight: 800; /* Increase font weight for strong elements within labels */
    color: #845BB3; /* Change color for strong elements within labels */
    position: relative;
    display: inline-block;
    font-size: 1.2em;
}
  
strong::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #845BB3;; /* Add a background color */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Initial scaling */
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}
  
strong:hover::after {
    transform: scaleX(1); /* Scale to 100% on hover */
    transform-origin: bottom left;
}

#event-edit-delete-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
  
.event-delete-button, .event-edit-button {
    width: 175px;
    height: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #845BB3;;
    /* background-color: transparent; */
    border: none;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    font-size: 1.3rem;
}
  
.event-delete-button:hover, .event-edit-button:hover {
    cursor: pointer;
    background-color: #D0BDF4;
    color: white;
}

.edit-event-submit-button {
    width: 150px;
    padding: 20px;
    background-color: #845BB3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin-bottom: 15px; */
    
}
  
.edit-event-submit-button:hover {
    background-color: #D0BDf4 !important;
    text-decoration: none;
}

@media screen and (max-width: 430px) {
    .event-details {
        max-width: none;
        width: 95%;
        margin-top: 40px;
    }

    .form-item {
        width: 95%;
    }
    
    .value {
        font-size: 16px;
    }

    strong {
        font-size: 1em;
    }

    .event-delete-button, .event-edit-button {
        width: 140px;
        height: 30px;
        font-size: 1rem;
    }

    .edit-event-submit-button {
        position: relative;
        left: -40px;
    }
}