* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
  margin-top: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #D0BDF4;
  border-radius: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  height: fit-content;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

#pageContainer {
  margin: 0;
}

#mainPageContainer {
  height: calc(97vh - 100px);
  display: flex;
}

.right {
  width: 88%;
  overflow-y: scroll;
}

/* Header styles */
.header {
  background-color: #fff; 
  color: #ecf0f1; /* Text color */
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 100vw;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-title {
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.containerHeaders {
  border-bottom: 1px solid #ccc;
  padding: 10px 0px 25px 25px;
  font-size: 28px;
  color: #845BB3;
}

.alert {
  margin-bottom: 20px;
}