* {
  box-sizing: border-box;
}

body {
  border: 1px solid black;
  width: 96%;
  margin: 15px auto;
  height: 97vh;
}

.mainPageContainer {
  height: calc(97vh - 100px);
  display: flex;
}

.right {
  border: 1px solid red;
  width: 88%;
  overflow-y: scroll;
}