#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  
.alert {
    margin-bottom: 20px;
}
  
.form {
    width: 100%;
}
  
.form-item {
    margin-bottom: 20px;
    width: 100%;
}
  
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  
.button {
    width: 100%;
    padding: 20px;
    background-color: #845BB3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
  
.button:hover {
    background-color: #D0BDf4 !important;
    text-decoration: none;
}

.change-login-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    width: 100%;
}

.change-login-signup p {
    margin-bottom: 2px;
}
  
.signup-button {
    text-decoration: none;
    padding: 8px 10px;
    font-size: 15px;
    background: none;
    border: none;
    color: #845BB3;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #D0BDf4;
    text-decoration: none;
}
