.navBarContainer {
    border-right: 1px solid #ccc;
    /* width: 200px; */
    width: 12%;
    text-align: center;
    padding-top: 50px;
}

.navBarContainer h3 {
    font-size: 25px;
}
  
.navBar {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
  
.navBar a {
    display: block;
    border-top: 1px solid #ccc;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.navBar a:last-of-type{
    border-bottom: 1px solid #ccc;
}

.navBar a:active {
    color: #845BB3;
}

.active {
    background-color: #D0BDF4;
}
  
.navBarContainer img {
    border-radius: 50%;
    width: 150px;
}