.scheduleCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px auto;
    background-color: #fff;
    font-family: Arial, sans-serif;
    width: 60%;
    text-align: left;
    position: relative;
}
  
.scheduleCard p {
    margin: 5px 0;
    font-size: 16px;

    /* Font styles */
    font-size: 16px;
    font-weight: normal;
    color: #333; /* Text color */
}
  
.scheduleCard a {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 25%;
    margin: 0 auto;
    
    /* Font styles */
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase; /* Convert text to uppercase */
}
  
.scheduleCard a:hover {
    background-color: #0056b3;
}
  
.schedule-delete-button {
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: #EA6C36;
    /* background-color: #EA6C36; */
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    font-size: 1.3rem;
    position: absolute;
    right: 15px;
}
  
.schedule-delete-button:hover {
    cursor: pointer;
    background-color: #EA6C36;
    color: white;
}
