.add-event-button {
    width: 130px;
    padding: 10px;
    background-color: #845BB3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 15px; */

    /* Font styles */
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; /* Convert text to uppercase */
}
  
.add-event-button:hover {
    background-color: #D0BDf4;
    text-decoration: none;
}

#schedule-filter-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
    /* margin-top: 15px;
    margin-left: 15px; */
}

.ant-select-selector {
    padding: 10px !important;

    /* Font styles */
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase !important; /* Convert text to uppercase */
}

.filter-select .ant-select-selector {
    background-color: #845BB3 !important;
    color: #fff !important;
}

.filter-select .ant-select-selection-item {
    color: #fff !important;
}

.ant-select-item:hover, .ant-cascader-menu-item:hover {
    background-color: #D0BDf4 !important;
}

[aria-selected="true"], [aria-checked="true"], .ant-cascader-menu-item-active {
    background-color: #845BB3 !important;
}


.ant-select-arrow {
    color: #fff !important;
}

#filter-label, #checkbox-label {
    font-size: 20px;
    font-weight: normal;
    color: #845BB3;
}

#checkbox-container {
    /* margin-top: 10px;
    margin-left: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
}

#admin-schedule-button-div {
    position: absolute;
    margin-right: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ant-checkbox-inner {
    background-color: #845BB3 !important;
    width: 20px !important;
    height: 20px !important;
}

.ant-checkbox-wrapper {
    width: 22px;
}

.schedule-subheader {
    font-size: 28px;
    color: #845BB3;
    text-align: center;
}

.scheduleCard {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px auto;
    background-color: #fff;
    font-family: Arial, sans-serif;
    width: 60%;
    max-width: 850px;
    text-align: left;
    position: relative;
    transition: transform 0.2s ease-in-out;
    border-left: 8px solid #845BB3;
}
  
.scheduleCard p {
    margin: 5px 0;
    font-size: 16px;

    /* Font styles */
    font-size: 16px;
    font-weight: normal;
    color: #333; /* Text color */
}

.scheduleCard:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
}

#sc-team {
    font-size: 25px;
}
  
.scheduleCard a {
    display: block;
    background-color: #845BB3;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 25%;
    margin: 0 auto;
    
    /* Font styles */
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase; /* Convert text to uppercase */
}
  
.scheduleCard a:hover {
    background-color: #D0BDF4;
}
  
.schedule-delete-button {
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: red;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: all ease-in-out 0.2s;
    font-size: 1.3rem;
    position: absolute;
    right: 15px;
}
  
.schedule-delete-button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

#schedule-img-text-containter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

#ball {
    width: 85px;
}

.scheduleCard:last-of-type {
    margin-bottom: 30px;
}

/* Responsive Styles */

@media screen and (max-width: 1440px){
    .scheduleCard {
        position: relative;
        left: 100px;
    }

}

@media screen and (max-width: 920px){
    .scheduleCard {
        position: relative;
        left: 115px;
        width: 65%;
    }

    .scheduleCard a {
        width: 35%;
    }
}


@media screen and (max-width: 880px) {
    #admin-schedule-button-div {
        gap: 10px;
    }

    .scheduleCard {
        width: 90%;
        left: 0;
        margin-bottom: 15px;
    }

    #schedule-card-container {
        position: relative;
        top: 180px;
        padding-bottom: 5px;
    }

}

@media screen and (max-width: 430px) {

    #ball {
        display: none;
    }

    .scheduleCard a {
        width: 45%;
        font-size: 14px;
    }

    #schedule-card-container {
        position: relative;
        top: 180px;
        padding-bottom: 5px;
    }

    button.button.add-event {
        position: relative;
        left: -40px;
    }
}