#signups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#signup-player, #signup-coach{
    width: 100%;
}

#signup-coach p, #signup-player p{
    text-align: center;
}

#isPlayer {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.form {
    width: 100%;
}
  
.form-item {
    margin-bottom: 20px;
    width: 100%;
}
  
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input:hover {
    border-color: #845BB3;
}

.select:hover {
    border-color: #845BB3 !important;
}

.ant-select-selector:hover {
    border-color: #845BB3 !important;
}

.login-button{
    text-decoration: none;
    padding: 8px 10px;
    font-size: 15px;
    background: none;
    border: none;
    color: #845BB3;
    cursor: pointer;
}

.login-button:hover {
    background-color: #D0BDf4;
    text-decoration: none;
}

#switch {
    background-color: #845BB3;
}
